@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
    background-color: transparent;
    width:0.4vw
  }
  
  body::-webkit-scrollbar-track {
    background-color:transparent
  }
  body::-webkit-scrollbar-track:hover {
    background-color:transparent
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid transparent
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
  }
  
  body::-webkit-scrollbar-button {display:none}
  
.background-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(36, 36, 36, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999998;
  }
  
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 8s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #3c517d;
    animation-name: dot2_;
}

.loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6bb2cd;
    animation-name: dot3_;
}

@keyframes dot1_ {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2_ {

    3%,
    97% {
        height: 90px;
        width: 150px;
        margin-left: -75px;
        margin-top: -45px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-left: -35px;
        margin-top: -48px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-left: -16px;
        margin-top: -30px;
    }
}

@keyframes dot3_ {

    3%,
    97% {
        height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: 50px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-left: -5px;
        margin-top: 49px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-left: -8px;
        margin-top: -37px;
        border-radius: 10px;
    }
}
.header {
    color: inherit;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 10px 5% 3% 5%;
    display: flex;
    justify-content: space-between;
    z-index: 9;
  }
.logo {
    color: inherit;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fff;
  }
  
  .btn {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    color: #000;
    background: #fff;
  }
    

.logo .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.logo .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.logo .button .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.logo .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
  .parallax__group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    background: linear-gradient(
        rgba(105, 211, 252, 0.25) 0%,
        rgba(255, 116, 161, 0.25) 86%,
        rgba(1, 0, 0, 0.25) 100%
      ) no-repeat;
  }
  .hero-text {
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .hero-text h2 {
    font-size: 1.25rem;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
  }
  
  .hero-text ul {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }
  
  .hero-text ul li {
    margin-left: 2.5rem;
    list-style-type: none;
    float: left;
    visibility: hidden;
  }
  
  .hero-text ul li:nth-of-type(3) {
    visibility: visible;
  }
  
  .social-container {
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
  }
  
  .social-container i {
    font-size: 2.25rem;
    margin-right: 1rem;
  }

  #particles{
    height: 90vh;
    width: 100vw;
  }
  .content {
    min-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    top: 10%;
    text-align: center;
    z-index: -1000;
  }
  
  .info-container {
    background: #000;
    transform: translateZ(0) scale(1);
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .info-container img {
    width: 75%;
    margin-bottom: 2.5rem;
    filter: saturate(0.65);
  }
  
  .info-container h2,
  .info-container p {
    margin-bottom: 1rem;
  }
  
  .text-container p:nth-of-type(1) {
    font-weight: 400;
    font-size: 0.75rem;
    margin: 1rem 2.5rem;
  }
  
  .text-container p:nth-of-type(2) {
    font-size: 0.6rem;
    margin-bottom: 3rem;
  }
  
  @media (min-width: 760px) {
    .hero-text ul li {
      visibility: visible;
    }
  
    .info-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      align-items: center;
      text-align: left;
    }
  
    .info-container img {
      justify-self: end;
      width: 75%;
    }
  
    .text-container p:nth-of-type(1) {
      font-size: 1rem;
      width: 75%;
      margin: 1rem 0;
    }
  
    .text-container p:nth-of-type(1) {
      font-size: 0.86rem;
    }
  }
  
  @media (min-width: 1126px) {
    .sky,
    .bushes,
    .water,
    .people1,
    .people2,
    .people3,
    .hero-text {
      background-size: contain;
    }
  }
 
footer button {
    height: 4em;
    width: 15em;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
  }
  
  footer button span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 3em;
    width: 11.5em;
    border-radius: 25px;
    color: #fff;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.5s;
  }
  
  footer button .container {
    z-index: -1;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    transition: all 0.4s;
  }
  
  footer button .container svg {
    padding: 0 10px;
  }
  
  footer button:hover span {
    width: 0;
  }
  
  footer button:hover .container {
    z-index: 2;
    width: 100%;
  }  
